<h1>Welcome to Blocpedia</h1>
<% if user_signed_in? %>
</br><%= link_to "NEW WIKI", new_wiki_path, class: 'btn btn-success'%>
</br>
<% Wiki.all.each do |f| %>
    </br><%= link_to f.title, wiki_path(f) %>
<% end %>
<% end %>