</br>
<h1>Title: <%= @wiki.title %></h1>
<p><%= @wiki.body %></p>
<%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-success' %> <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want delete'} %>
